﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DayAttendancewithLunch.aspx.cs" Inherits="DayAttendancewithLunch" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server"
                AutoDataBind="true" GroupTreeImagesFolderUrl="" Height="1157px"
                ReportSourceID="CrystalReportSource1" ToolbarImagesFolderUrl=""
                ToolPanelWidth="200px" Width="1059px" />



        </div>

    </form>
</body>
</html>
