﻿<%@ Page Title="" Language="C#" MasterPageFile="~/PayrollMaster.master" AutoEventWireup="true" CodeFile="MstReelingWagesSlab.aspx.cs" Inherits="MstReelingCountEntry" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <script type="text/javascript">
        //On UpdatePanel Refresh
        var prm = Sys.WebForms.PageRequestManager.getInstance();
        if (prm != null) {
            prm.add_endRequest(function (sender, e) {
                if (sender._postBackSettings.panelsToUpdate != null) {
                    $('.select2').select2();
                    $('.datepicker').datepicker({
                        format: "dd/mm/yyyy",
                        autoclose: true
                    });
                }
            });
        };
    </script>
    <script type="text/javascript">
        function SaveMsgAlert(msg) {
            swal(msg);
        }
    </script>

    <script type="text/javascript">
        function ProgressBarShow() {
            $('#Download_loader').show();
        }
    </script>
    <style>
        .textmode {
            mso-number-format: \@;
        }
    </style>

    <script type="text/javascript">
        function ProgressBarHide() {
            $('#Download_loader').hide();
        }
    </script>


    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Master</a></li>
            <li class="active">Reeling Wages Master</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Reeling Wages Master</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                    <div class="col-md-12">
                        <!-- begin panel -->
                        <div class="panel panel-inverse">
                            <div class="panel-heading">
                                <div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                                </div>
                                <h4 class="panel-title">Reeling Wages Slab</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <!-- begin row -->
                                    <div class="row">
                                        <!-- begin col-4 -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Fin. Year</label>
                                                <asp:DropDownList runat="server" ID="ddlfinance" TabIndex="1" class="form-control select2"
                                                    Style="width: 100%;">
                                                </asp:DropDownList>
                                            </div>
                                        </div>
                                        <!-- end col-4 -->
                                         <!-- begin col-4 -->
                                    <div  class="col-md-3">
                                        <div class="form-group">
                                            <label>Code</label>
                                            <asp:TextBox runat="server" ID="txtCode" Enabled="false" class="form-control"></asp:TextBox>
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <!-- begin col-4 -->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Work Load</label>
                                            <asp:TextBox runat="server" ID="txtWorkLoad" TabIndex="2" class="form-control" Text="0"></asp:TextBox>
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                        <!-- begin col-4 -->
                                    <div class="col-md-2" >
                                        <div class="form-group">
                                            <label>Price Rate</label>
                                            <asp:TextBox runat="server" ID="txtPriceRate" TabIndex="3" class="form-control" Text="0"></asp:TextBox>
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                        <!-- begin col-4 -->
                                    <div class="col-md-2" >
                                        <div class="form-group">
                                            <label>OT Price Rate</label>
                                            <asp:TextBox runat="server" ID="txtOTPriceRate" TabIndex="4" class="form-control" Text="0"></asp:TextBox>
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    </div>
                                    <!-- end row -->
                                <!-- begin row -->
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <!-- begin col-4 -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <br />
                                            <asp:Button runat="server" ID="btnSave" TabIndex="5" Text="Add" OnClick="btnSave_Click" class="btn btn-success" />
                                            <asp:Button runat="server" ID="btnClr" TabIndex="6" Text="Clear" OnClick="btnClr_Click" class="btn btn-danger" />
                                        </div>
                                    </div>
                                    <!-- end col-4 -->
                                    <div class="col-md-4"></div>
                                </div>
                                <!-- end row -->
                                                <!-- table start -->
					<div class="col-md-12">
					    <div class="row">
					        <asp:Repeater ID="Repeater1" runat="server" EnableViewState="false">
			                    <HeaderTemplate>
                                    <table id="example" class="display table">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Fin.Year</th>
                                                <th>Code</th>
                                                <th>Work Load</th>
                                                 <th>Price Rate</th>
                                                 <th>OT Price Rate</th>
                                                 <th>Mode</th>
                                            </tr>
                                        </thead>
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <tr>
                                        <td><%# Container.ItemIndex + 1 %></td>
                                        <td><%# Eval("FinYearVal")%></td>
                                        <td><%# Eval("Code")%></td>
                                        <td><%# Eval("Workload")%></td>
                                         <td><%# Eval("PriceRate")%></td>
                                         <td><%# Eval("OTPriceRate")%></td>
                                        <td>
                                                    <asp:LinkButton ID="btnEditEnquiry_Grid" class="btn btn-success btn-sm fa fa-pencil"  runat="server" 
                                                        Text="" OnCommand="btnEditEnquiry_Grid_Command" CommandArgument='<%# Eval("Code")%>' CommandName="Edit">
                                                    </asp:LinkButton>
                                                    <asp:LinkButton ID="btnDeleteEnquiry_Grid" class="btn btn-danger btn-sm fa fa-trash-o"  runat="server" 
                                                        Text="" OnCommand="btnDeleteEnquiry_Grid_Command" CommandArgument='<%# Eval("Code")%>' CommandName= "Delete"
                                                        CausesValidation="true" OnClientClick="return confirm('Are you sure you want to delete this Bank details?');">
                                                    </asp:LinkButton>
                                                </td>
                                       
                                    </tr>
                                </ItemTemplate>
                                <FooterTemplate></table></FooterTemplate>                                
			                </asp:Repeater>
					    </div>
					</div>
					<!-- table End -->
                            </div>
                        </div>
                        <div id="Download_loader" style="display: none" />

                    </div>
                    </div>
                    <!-- end panel -->
                    </div>
                 
                </ContentTemplate>
            </asp:UpdatePanel>

            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->



</asp:Content>
