﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SpinningIncentiveShiftWise.aspx.cs" Inherits="SpinningIncentiveShiftWise" %>
<%@ Register Assembly="CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
   
    <div>
        <asp:Label ID="lblReport" runat="server" Text=""></asp:Label>
    
    </div>
    
    </form>
</body>
</html>